/* --------------Common Styles-------------- */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;;
}

/* ---Dark Mode--- */
.darkmode {
  background-color: #000;
  color: #fff;
}
.darkmode a {
  color: #fff;
}
.darkmode .search form {
  background-color: #6d6d6d;
  padding: 0;
}
.darkmode .search input {
  border-radius: 1rem;
  color: #fff;
  padding: .8em 1.1em;
}
.darkmode .search .fa-solid {
  padding-right: 1.1rem;
}
.darkmode .search input::placeholder {
  color: #fff;
}
.darkmode .nav-menu {
  background-color: #000;
}
.darkmode .nav-menu a {
  color: #fff;
}
.darkmode .nav-menu li:hover {
  background-color: #6d6d6d42;
}
/* ---Dark Mode--- */

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}
a {
  color: #000;
  text-decoration: none;
}
abbr {
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 8px;
}

.grey {
  color: #6d6d6d;
}

.top-bar,
.navbar,
main,
footer {
  padding: 1rem;
}

.top-bar,
.navbar,
.search,
.search form,
.listings .property-card,
.featured,
img {
  width: 100%;
}

.search form,
img {
  border-radius: 1rem;
}
/* --------------Common Styles-------------- */


/* --------------Header-------------- */
/* ------Header, Common Styles------ */
.top-bar,
.navbar {
  border-bottom: 0.1rem solid #eee;
}
/* ------.top-bar------ */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar .tagline {
  grid-column: 2;
  justify-self: center;
}

.top-bar .contact {
  display: flex;
  gap: 2em;
}
.contact p {
  display: none;
}
.contact .fa-solid {
  font-size: 1rem;
}
.contact a {
  transition: all .2s ease-in-out;
}
.contact a:hover {
  color: #ff385c;
}

/* ------.navbar------ */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  min-height: 80px;
}

.logo {
  position: relative;
}
.nav-menu h1,
.logo h1 {
  cursor: pointer;
  color: #ff385c;
  font-size: 2rem;
  font-weight: 900;
}
.logo h1::after {
  content: 'Hosted';
}
/* .logo h1:hover:after {
  content: 'dark-mode';
} */

.search {
  justify-self: center;
}
.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: auto;
  padding: .8rem 1.2rem;
  box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, 0.1);
}
.search input {
  background: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
}
.search button {
  border: none;
  background: transparent;
}
.search button .fa-solid {
  color: #ff385c;
  font-size: 1rem;
}

.menu {
  justify-self: flex-end;
}
.mobile-menu {
  display: block;
}
.nav-menu {
  display: flex;
}

.mobile-menu,
.nav-menu a {
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.nav-menu a:hover,
.mobile-menu:hover {
  color: #ff385c;
}

/* ------.sort-bar------ */
.sort-bar {
  color: #5e5e5e;
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 0 0;
  text-align: center;
}
.sort-bar .fa-solid {
  font-size: 1.2rem;
}
.sort-bar p {
  display: none;
}
.sort-bar .disp-dots {
  display: none;
}
.sort-bar .dots {
  display: block;
}

.sort-bar div {
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
  transition: all .2s ease-in-out;
}
.sort-bar div:hover {
  color: #ff385c;
  box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, 0.1);
}


/* --------------Main-------------- */
/* ------Main, Common Styles------ */
.listings,
.featured .title {
  margin: 1rem 0;
}

.listings img,
.featured img {
  object-fit: cover;
}

/* ------.listings------ */
main .listings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.listings .property-card {
  max-height: 300px;
  font-size: .9rem;
}
.listings .property-card p {
  padding-bottom: .1rem;
}
.listings .property-card p:last-of-type {
  padding-top: .3rem;
}
.listings img {
  height: 200px;
}
.listings .pc-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .2rem;
}
.listings p {
  display: flex;
  align-items: flex-start;
  gap: .1em;
}

/* ------.featured & .popular------ */
main .featured {
  padding: 4rem 0;
}
.feature-wrapper {
  --gap: 1rem;
  --num-cols: 5;
  --row-height: 200px;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
.featured h1 {
  border-bottom: .2rem solid #ff385c;
  display: inline;
}
.featured img {
  height: 100%;
}
.featured .main-img {
  grid-column: span 3;
  grid-row: span 2;
}


/* --------------Footer-------------- */
footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #eee;
}

footer li {
  cursor: pointer;
  padding-top: 1rem;
}

.back-to-top-btn {
  display: flex;
}
.back-to-top-btn a {
  font-size: 2rem;
  margin: auto;
}

footer li,
.back-to-top-btn .fa-solid {
  transition: all .2s ease-in-out;
}
footer li:hover {
  color: #ff385c;
}
.back-to-top-btn .fa-solid {
  opacity: .5;
}
.back-to-top-btn .fa-solid:hover {
  opacity: 1;
}


/* --------------Media Queries-------------- */

@media (min-width: 435px) {
  .sort-bar .disp-dots {
    display: block;
  }
  .sort-bar .dots {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-bar .tagline,
  p {
    font-size: .8rem;
  }
  .navbar {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }
  .logo,
  .mobile-menu {
    padding: 1rem 0;
  }
  .search {
    width: 100%;
    padding: .8rem 0 0;
    grid-column: span 2;
    order: 3;
  }
  .search form {
    max-width: 100%;
  }
  .feature-wrapper {
    --gap: 1rem;
    --num-cols: 2;
  }
  .featured .main-img {
    grid-column: span 2;
  }
}

@media (min-width: 769px) {
  .contact a {
    display: flex;
    align-items: center;
    gap: .5em;
  }
  .contact p {
    display: flex;
    font-size: .8rem;
  }
  .contact div {
    display: flex;
  }
  .contact .fa-solid {
    font-size: 1.2rem;
  }
  .mobile-menu {
    font-size: 1.5rem;
  }
  .sort-bar p {
    display: flex;
    font-size: .9rem;
    padding-top: .2rem;
  }
  main .listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 1023px) {
  .nav-menu h1 {
    padding: 1rem;
  }
  .nav-menu li {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
  }
  .nav-menu li:hover {
    background-color: #eee;
  }
  .nav-menu {
    background-color: #fff;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    transition-duration: .3s;
    padding-top: 1rem;
  }
  .nav-menu.active {
    left: 0;
  }
}

@media (min-width: 1024px) {
  .navbar {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar h1 {
    font-size: 2rem;
  }
  .search {
    margin-left: 0;
  }
  .mobile-menu {
    display: none;
  }
  .nav-menu h1 {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .nav-menu a {
    font-size: 1rem;
    padding-left: 1em;
  }
  main .listings {
    grid-template-columns: repeat(4, 1fr);
  }
}